.card_body{
    height: 280px;
}

.img_{
    object-fit: cover;
    height: 100px;
}

.main-page{
    background-image: url("../pics/bulb.jpeg");
    background-size: cover;
    background-position: top;
}